@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  @apply bg-blue-50
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    @apply bg-blue-50 text-neutral-700 scroll-smooth
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.scrollbarCustom::-webkit-scrollbar{
    width: 10px;
    @apply bg-slate-100
}
.scrollbarCustom::-webkit-scrollbar-thumb{
    @apply bg-blue-100 rounded-full
}